<header id="main-header">

    <a href="/">Parcel Dispatch System </a>
    <img src="https://fea.assettype.com/esakal/esakal/SakalHeader.png" alt=" ">

</header>
<div id="leftsidebar">
    <ol type="A">

        <li>
            <a href="/new-letter">Inward Courier</a>
        </li>
        <li>
            <a href="/send-letter">Outward Courier</a>
        </li>

        <li>
            <a href=" ">Inward</a>
        </li>


        <li>
            <a href=" ">Outward</a>
        </li>

        <li>
            <a href="/letters">All Courier</a>
        </li>

        <li>
            <a href="/receivers">Receivers</a>
        </li>

        <li>
            <a href="/new-letter">Dashboard</a>
        </li>
        <li>

            <a href="/logout">Log out</a>
        </li>
    </ol>
</div>